{{ define "host" }}
    {{ $host := replace .Host "_" "-" 99  }}
    {{ $tld := .Tld }}
    {{ $alias := .Alias }}
    {{ $networks_exclude := .NetworksExclude }}
    {{ range $index, $network := .Container.Networks }}
        {{ if ne $network.IP "" }}
            {{ if not $alias }}
{{ $network.IP }} {{ $host }}.{{ $network.Name }}.{{ $tld }}
                {{ if ne $network.GlobalIPv6Address "" }}
{{ $network.GlobalIPv6Address }} {{ $host }}.{{ $network.Name }}.{{ $tld }}
                {{ end }}
            {{ end }}
            {{ if ne (closest $networks_exclude $network.Name) $network.Name }}
{{ $network.IP }} {{ $host }}.{{ $tld }}
                {{ if ne $network.GlobalIPv6Address "" }}
{{ $network.GlobalIPv6Address }} {{ $host }}.{{ $tld }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $tld := or ($.Env.DOMAIN_TLD) "docker" }}
{{ $networks_exclude := split (or $.Env.NETWORKS_EXCLUDE "") "," }}
{{ $compose_only := eq (or ($.Env.COMPOSE_ONLY) "") "true" }}
{{ range $index, $container := $ }}
    {{- $dns_include := eq (or (index $container.Labels "dns.include") "") "true" }}
    {{- $compose_service := eq (or (index $container.Labels "com.docker.compose.oneoff") "") "False" }}
    {{- if or (not $compose_only) $dns_include $compose_service }}
    {{ template "host" (dict "Container" $container "Host" (print $container.Name) "Tld" $tld "Alias" false "NetworksExclude" $networks_exclude) }}
    {{ $host_name := regexReplaceAll "-([^-]+)-([0-9]+)$" $container.Name "_${1}_${2}" }}
    {{ $host_part := split $host_name "_" }}
    {{ $host_part_len := len $host_part }}
    {{ if eq $host_part_len 3 }}
        {{ template "host" (dict "Container" $container "Host" (print (index $host_part 1) "." (index $host_part 0)) "Tld" $tld) }}
        {{ template "host" (dict "Container" $container "Host" (print (index $host_part 0)) "Tld" $tld) }}
    {{ end }}
    {{ if eq $host_part_len 4 }}
        {{ template "host" (dict "Container" $container "Host" (print (index $host_part 2) "." (index $host_part 1) "." (index $host_part 0)) "Tld" $tld) }}
        {{ template "host" (dict "Container" $container "Host" (print (index $host_part 1) "." (index $host_part 0)) "Tld" $tld) }}
        {{ template "host" (dict "Container" $container "Host" (print (index $host_part 0)) "Tld" $tld) }}
    {{ end }}
    {{ $aliases := split (or (index $container.Labels "dns.aliases") "") "," }}
    {{ range $index, $alias := $aliases }}
        {{ if ne $alias "" }}
            {{ template "host" (dict "Container" $container "Host" $alias "Tld" $tld "Alias" true "NetworksExclude" $networks_exclude) }}
        {{ end }}
    {{ end }}
    {{- end }}
{{- end }}

{{ range $host, $containers := groupByMulti $ "Env.DOMAIN_NAME" "," }}
    {{- range $index, $container := $containers }}
        {{- $dns_include := eq (or (index $container.Labels "dns.include") "") "true" }}
        {{- $compose_service := eq (or (index $container.Labels "com.docker.compose.oneoff") "") "False" }}
        {{- if or (not $compose_only) $dns_include $compose_service }}
        {{ template "host" (dict "Container" $container "Host" (print $host) "Tld" "") }}
        {{- end }}
    {{- end }}
{{- end }}
